// -------------------
// Article Page
// -------------------
.article-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  // background: lightgreen;

  h2 {
    font-size: 1.7em;
    word-wrap: break-word;
    text-transform: uppercase;
    background: rgb(218, 218, 218);
    color: rgb(60, 60, 60);
    margin-bottom: 0.2em;
    display: inline-block;
    padding: 8px;
    line-height: 1;
    width: 100%;
    font-weight: 900;
  }

  .article-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;

    .article-image-container {
      margin-bottom: 0.8em;

      &.default-bg {
        background-color: rgb(31, 31, 31); // Ajout d'un fond noir
        background-size: cover;
        background-position: center;
        color: rgb(225, 225, 225); // Couleur du texte (si nécessaire)
      }
    }

    .article-image {
      width: 100%; // Prend toute la largeur du conteneur
      object-fit: cover;
      // border-radius: 4px;
    }

    .article-content {
      font-size: 1em;
      line-height: 1.6;
      background: rgb(218, 218, 218);
      color: rgb(60, 60, 60);
      padding: 10px;
      width: 100%;
      text-align: left;
      margin-bottom: 1em;
      word-wrap: break-word; // Ajouté pour éviter le débordement du texte
      font-weight: 500;
    }
  }
  .article-footer {
    text-align: center;
    margin-top: 1em;
    font-size: 0.8em;
    background: rgb(195, 255, 195);
    padding: 12px;
    width: 85%;
    margin: 0 auto;
  }
  .highlighted {
    text-transform: uppercase;
    font-weight: 800;
  }
  .highlightedDate {
    text-transform: uppercase;
    font-weight: 700;
  }
}
// -------------------
// Responsive Article
// -------------------
@media (max-width: 600px) {
  .article-container {
    .article-details {
      h2 {
        font-size: 1.2em;
      }
      .article-content {
        font-size: 0.7em;
      }
    }
    .article-footer {
      font-size: 0.5em;
    }
  }
}
