// -------------------
// Reset CSS général
// -------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// -------------------
// Styles globaux de sélection
// -------------------
::selection {
  color: $secondary-color;
  background-color: $primary-color;
}
::-moz-selection {
  color: $secondary-color;
  background-color: $primary-color;
}

// -------------------
// Styles de base
// -------------------
body {
  font-family: $font-family;
  color: $primary-color;
  background-color: $secondary-color;
}

// -------------------
// Layout général
// -------------------
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > div {
    flex: 1;
  }
}
