// _home.scss

section {
  text-align: center;
  margin: 16px auto 0;
  width: 50%;
  max-width: 1200px;
}

.article-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.article-card {
  flex-basis: calc(33% - 16px);
  position: relative;
  background-color: #1d1d1d;
  border-radius: 8px;
  cursor: pointer;
  color: $secondary-color;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .image-container {
    width: 100%;
    height: 100%;
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.default-bg {
      background-color: rgb(31, 31, 31);
      background-size: cover;
      background-position: center;
      color: white;
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 65%;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.5em;
    font-weight: 700;
    word-wrap: break-word;
    text-transform: uppercase;
  }

  .author {
    position: absolute;
    top: calc(
      50% + 32px
    ); // ajusté pour positionner correctement l'auteur en dessous du titre
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(220, 220, 220);
    font-size: 0.7em;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .username {
    text-transform: uppercase;
    font-weight: 700;
  }

  &:hover {
    .title,
    .author {
      opacity: 1;
    }

    .image-container img {
      filter: brightness(25%); // Assombrir l'image
    }
  }
}
// ...

// -------------------
// Responsive
// -------------------
@media (max-width: 795px) {
  section {
    width: 90%;
  }

  .article-grid {
    gap: 8px;
    .title {
      font-size: 1em;
    }
    .author {
      font-size: 0.5em;
      top: calc(50% + 24px);
    }
  }
}
