// register.scss

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  background-color: lighten($secondary-color, 3%);
  width: 34%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;

  h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label {
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    input {
      padding: 0.5em;
      font-size: 1em;
      border: 1px solid darken($primary-color, 5%);
      border-radius: 4px;
      width: 85%;

      &:focus {
        outline: none;
        border-color: darken($primary-color, 15%);
      }
    }
  }

  button[type='submit'] {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 24px;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}

@media (max-width: 1100px) {
  .register-container {
    width: 45%;
    padding: 1em;
    h2 {
      font-size: 1.4em;
    }
    label {
      font-size: 0.8em;
    }
    button[type='submit'] {
      font-size: 0.8em;
    }
    .input-group {
      input {
        padding: 0.3em;
      }
    }
  }
}

@media (max-width: 700px) {
  .register-container {
    width: 80%;
  }
}
