// -------------------
// Variables globales
// -------------------
$primary-color: #2b2b2b;
$secondary-color: #e6e6e6;
$font-family: 'Poppins', sans-serif, serif;
$font-familyH1: 'Teko', 'Exo 2', 'Russo One', sans-serif;
// $article-width: calc(33.33% - 16px);
