// -------------------
// Page Account
// -------------------

.account-container {
  h2 {
    margin-bottom: 1em;
    text-align: center;
  }

  .article-table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;

    th,
    td {
      border: 1px solid darken($primary-color, 5%);
      text-align: center; // Centrer le texte
      padding: 0.4em 0.6em; // Utiliser du padding pour gagner de l'espace
    }

    th {
      background-color: lighten($primary-color, 10%);
      color: #e6e6e6;
    }

    td {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        font-weight: 600;
      }
      button {
        display: block; // Faire que le bouton occupe toute la largeur
        margin: 0.4em;
        padding: 4px;
        cursor: pointer; // Change le curseur en pointeur
        border: none;
        width: 90px;
        border-radius: 6px;
        font-size: 0.8em;
        background: rgb(127, 127, 127);
        color: rgb(228, 228, 228);

        // Effet Hover pour Modifier
        &.edit-button:hover {
          background-color: green;
          color: white;
        }

        // Effet Hover pour Supprimer
        &.delete-button:hover {
          background-color: red;
          color: rgb(29, 29, 29);
        }
      }

      .action-buttons {
        display: flex;
        flex-direction: column; // Met les boutons en colonne
        align-items: center; // Centrer les boutons horizontalement
        justify-content: center;
      }
    }
  }
}

// -------------------
// Responsive Account Page
// -------------------
@media (max-width: 800px) {
  .account-container .article-table {
    width: 90%;
  }
}
